/**
 * @file
 * Default CSS for the media recorder element.
 */

.media-recorder-wrapper {
  padding: 10px;
  margin: 0;
  background: #323232;
  border: none;
  color: #fff;
  max-width: 300px;
}

.media-recorder {
  width: 100%;
}

.media-recorder-status {
  background: #222222;
  padding: 5px 10px;
  margin: 5px 0;
  box-shadow: inset 0 0 10px #000000;
  text-align: center;
}

.media-recorder-preview {
  background: #222222;
  padding: 0;
  margin: 0;
  text-align: center;
}

.media-recorder-preview canvas.media-recorder-meter {
  width: 100%;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

.media-recorder-progress {
  height: 20px;
  overflow: hidden;
  background: #222222;
  box-shadow: inset 0 0 10px #000000;
}

.media-recorder-progress .progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
}

.media-recorder-video {
  width: 100%;
  padding: 5px 0;
  margin: 0;
  vertical-align: middle;
}

.media-recorder-audio {
  width: 100%;
  padding: 5px 0;
  margin: 0;
  vertical-align: middle;
}

.media-recorder-controls {
  text-align: center;
  padding: 5px;
}

.media-recorder-controls button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
}

.media-recorder-enable {
  background: #00b33c;
}

.media-recorder-settings {
  background: #00a5e1;
}

.media-recorder-record {
  background: #FF4D4D;
}

.media-recorder-play {
  background: #2861ff;
}

.media-recorder-stop {
  background: #ffa42a;
}

#flash-wrapper {
  text-align: center;
}
