/* Places the swf security panel to the right side of recorder. */
#wami-swf {
  position: absolute;
  top: 0;
  right: 0;
}

/* Media recorder */
#media-recorder {
  width: 210px;
  height: 79px;
  position: relative;
  padding: 5px;
  border-radius: 10px;
  background-image: url('images/recorder.png');
  background-color: none;
  box-shadow: 3px 3px 3px #666;
}

/* Media controls */
#media-recorder #controls {
  text-align: center;
  margin: 5px;
  height: 38px;
}

/* Styling applicable to all buttons */
#media-recorder #media-recorder-record,
#media-recorder #media-recorder-stop,
#media-recorder #media-recorder-play {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(66,66,66) 50%, rgb(0,0,0) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(66,66,66) 50%, rgb(0,0,0) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(66,66,66) 50%, rgb(0,0,0) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(66,66,66) 50%, rgb(0,0,0) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(66,66,66) 50%, rgb(0,0,0) 100%);
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(0,0,0)),
	color-stop(0.5, rgb(66,66,66)),
	color-stop(1, rgb(0,0,0))
  );
}

/* Record button styling */
#media-recorder #media-recorder-record span {
  border-radius: 6px;
  border-color: #FF0000;
  border-style: solid;
  border-width: 6px;
  float:left;
  height: 0;
  text-indent: -9999px;
  width: 0;
  margin: 6px;
}

/* Styling for when the record button hasn't been pressed. */
#media-recorder #media-recorder-record.record-off {
  border-top: 2px solid #3D3D3D;
  border-left: 2px solid #3D3D3D;
  border-bottom: 2px solid #666666;
  border-right: 2px solid #666666;
  cursor: pointer;
}

/* Styling for when the record button has been pressed. */
#media-recorder #media-recorder-record.record-on {
  border: 2px inset #ccc;
  cursor: default;
}

/* Styling for when the record button is disabled. */
#media-recorder #media-recorder-record.disabled {
  cursor: default;
  opacity: .5;
}

/* Styling for when the record button is enabled. */
#media-recorder #media-recorder-record.enabled {
  cursor: pointer;
  opacity: 1;
}

/* Stop button styling */
#media-recorder #media-recorder-stop span {
  border: 12px solid #F8F8F8;
  float: left;
  height: 0;
  text-indent: -9999px;
  width: 0;
  border-width: 6px;
  margin: 6px;
}

/* Styling for when the stop button hasn't been pressed. */
#media-recorder #media-recorder-stop.stop-off {
  border-top: 2px solid #3D3D3D;
  border-left: 2px solid #3D3D3D;
  border-bottom: 2px solid #666666;
  border-right: 2px solid #666666;
  cursor: pointer;
}

/* Styling for when the stop button has been pressed. */
#media-recorder #media-recorder-stop:active {
  border: 2px inset #ccc;
  cursor: default;
}

/* Play button styling */
#media-recorder #media-recorder-play span {
  border-color: transparent transparent transparent #33CC33;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  float: left;
  height: 0;
  text-indent: -9999px;
  width: 0;
  margin: 6px 5px 6px 7px;
}

/* Styling for when the play button hasn't been pressed. */
#media-recorder #media-recorder-play.play-off {
  border-top: 2px solid #3D3D3D;
  border-left: 2px solid #3D3D3D;
  border-bottom: 2px solid #666666;
  border-right: 2px solid #666666;
  cursor: pointer;
}

/* Styling for when the play button has been pressed. */
#media-recorder #media-recorder-play.play-on {
  border: 2px inset #ccc;
  cursor: default;
}

/* Styling for when the play button is disabled. */
#media-recorder #media-recorder-play.disabled {
  cursor: default;
  opacity: .5;
}

/* Styling for when the play button is enabled. */
#media-recorder #media-recorder-play.enabled {
  cursor: pointer;
  opacity: 1;
}

/* Sound meter - this is generated by recorder_init.js */
#meter {
  height: 26px;
  border-radius: 5px;
  background: #000;
  margin: 5px;
  opacity: .8;
  line-height: 23px;
  text-align: center;
  color: #fff;
  box-shadow: 1px 1px 0px #F8F8F8;
  border-top: 1px inset #000;
  border-left: 1px inset #000;
}

/* A single meter bar - animation is created by subtracting margin on all bars every 50ms  */
div.meter-bar {
  width: 2px;
  height: 26px;
  float: left;
  vertical-align: middle;
}

/* Recording styles for a single meter bar. */
div.meter-bar .inner.record {
  background: #FF0000;
  vertical-align: middle;
}

/* Playing styles for a single meter bar. */
div.meter-bar .inner.play {
  background: #33CC33;
  vertical-align: middle;
}
